.search_ctn {
  width: calc(100% - 40em);
  height: calc(100% - 10em);
  position: fixed;
  bottom: 0;
  right: 0;
  border: none;
  margin: 0;
  padding: 0;
  background-color: #003459;
  z-index: 9999;
  font-size: 10px;
}

.search_header {
  position: fixed;
  width: 100%;
  height: 8em;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  display: flex;
  align-items: center;
  z-index: 999;
  background-color: #003459;
}

.search_header span {
  font-size: 2em;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #fff;
  font-weight: 500;
  margin-left: 1.5em;
  margin-right: 0.2em;
}

.search_header input {
  outline: none;
  border: none;
  color: #fff;
  width: 60%;
  height: 3em;
  font-size: 2em;
  background-color: #003459;
}

.search_header i {
  position: absolute;
  left: 73%;
  font-size: 4em;
  color: #fff;
  cursor: pointer;
}

.search_header i:hover {
  color: #ffffff50;
}